# Application
PORT=4000
NODE_ENV=development

# Database
MONGO_URI=mongodb://root:example@localhost:27019/flash_sale?authSource=admin

# RabbitMQ
RABBITMQ_HOST=amqp://guest:guest@localhost:5672

RABBITMQ_HOST_TEST=amqp://guest:guest@localhost:5672
